{{> nav }}

<div class="container-fluid p-5">
  <div class="row">
    <div class="col-3 mb-3">
      <a class="btn btn-light text-success" href="/jornadas/agregar/">Agregar una Jornada <i
          class="fas fa-plus-circle"></i></a>
    </div>
    <div class="col-9 mb-3">
      {{> alert }}
    </div>
    <div class="col-10">
      <div class="card">
        <div class="card-header bg-primary text-center">
          <h2 class="text-light m-0">Lista Jornadas</h2>
        </div>
        <div class="card-body">
          <table class="table table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cerrada</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {{#each journals}}
              <tr>
                <th scope="col">{{id}}</th>
                <th scope="col">{{date}}</th>
                <th class="text-capitalize" scope="col">{{close}}</th>
                <th scope="col">
                  <a href="/jornadas/eliminar/{{id}}" class="btn btn-sm btn-danger">Eliminar</a>
                </th>
                <th scope="col">
                  <a href="/jornadas/cerrar/{{id}}" class="btn btn-sm btn-secondary">Cerrar Jornada</a>
                </th>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>