{{> nav }}

<div class="container-fluid p-5">
  <div class="row">
    <div class="col-3 mb-3">
      <a class="btn btn-light text-success" href="/personal/agregar">Agregar Nuevo <i class="fas fa-user-plus"></i></a>
    </div>
    <div class="col-9 mb-3">
      {{> alert }}
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary">
          <h2 class="text-light m-0">Listado del Personal</h2>
        </div>
        <div class="card-body ">
          <table class="table table-sm table-striped table-hover table-responsive-md">
            <thead>
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Cargo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {{#each workers}}
              <tr>
                <th scope="col">
                  {{id}}
                </th>
                <th scope="col">{{doc}}</th>
                <td scope="col">{{name}}</td>
                <td scope="col">{{last_name}}</td>
                <td scope="col">{{cargo}}</td>
                <td scope="col">{{validState state}}</td>
                <td scope="col">
                  <a href="/personal/actualizar/{{id}}" class="btn btn-sm btn-success">Actualizar</a>
                  <a href="/personal/eliminar/{{id}}" class="btn btn-sm btn-danger">Eliminar</a>
                  <a href="/personal/cambio/estado/{{id}}" class="btn btn-sm btn-warning">Cambiar a
                    {{validStateInverse state}}</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>